body {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

/* Navigation */


header nav ul {
  display: flex;
}

header nav ul li {
  padding: 16px;
  font-size: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.logo img {
  height: 2.25rem;
}

#colmar-logo-text {
  color: #3d3d3d;
  font-weight: 700;
}

#academy-logo-text {
  color: #d8d8d8;
  font-weight: 300;
}



/* NAV MEDIA QUERIES */

@media only screen and (min-width: 480px) {

  .mobile-header {
    display: none;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 64px;
  }

}

@media only screen and (max-width: 480px) {

  .logo {
    display: none;
  }

  .desktop-nav {
    display: none;
  }

  .mobile-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 180px;
    background-color: #3d3d3d;
    padding-bottom: 244px;
  }

  .mobile-nav {
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    background-color: #FFF;
    height: 64px;
  }

}

/* Banner */

.banner {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  background-color: #d8d8d8;
}

.banner-img-container {
  width: 60%;
  height: auto;
}

.banner img {
  width: 100%;
  height: auto;
  margin: 32px 0px 32px 24px;
}

.banner-info {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  width: 30%;
  height: auto;
  justify-content: center;
}

.banner-info h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #3d3d3d;
}

.banner-info p {
  font-size: 1.25rem;
  font-weight: 400;
  color: #3d3d3d;
}

.banner-info h3 {
  width: 90%;
  text-align: center;
  background-color: #3d3d3d;
  padding: 16px 0;
  color: #FFF;
  font-weight: 300;
}

.banner-info h1, .banner-info p, .banner-info h3 {
  margin: 1rem 0;
}

/* MOBILE BANNER */

@media only screen and (max-width: 480px) {

  .banner-img-container {
    display: none;
  }

  .banner {
    width: 100%;
  }

  .banner-info {
    width: 80%;
  }

  .banner-info h1 {
    margin: 32px;
    margin-left: 16px;
    font-size: 2.5rem;
  }

  .banner-info p {
    margin-left: 16px;
    font-size: 1.5rem;
  }

  .banner-info h3 {
    margin: 24px 0 32px 0;
    padding: 1rem;
    font-weight: 700;
  }

}


/* Campus */

.campus {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  background-color: #FFF;
  margin-bottom: 32px;
}

.campus-main {
  width: 60%;
  height: auto;
}

.campus-main img {
  width: 100%;
  height: auto;
  margin: 32px 24px 32px 24px;
}

.campus-main h1, .campus-main p, .campus-main h4 {
  margin: 2rem 0 0 24px;
}

.campus-main h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #3d3d3d;
}

.campus-main p {
  font-size: 1rem;
  font-weight: 300;
  color: #3d3d3d;
}

.campus-main h4 {
  font-size: 0.75rem;
  font-weight: 300;
  color: #3d3d3d;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 423px;
  max-width: 432px;
  height: auto;
  margin-left: 3rem;
  border-left: 1px solid #d8d8d8;
}

.sidebar-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sidebar-info {
  display: flex;
  flex-direction: column;
}

.sidebar-info h2, .sidebar-info h3, .sidebar-info h4 {
  margin: 0.5rem 0;
  margin-left: 16px;
  padding-right: 0.5rem;
}

.sidebar-content img {
  width: 35%;
  max-width: 35%;
  height: auto;
  margin: 0 0 1rem 16px;
  margin-top: 32px;
}

.sidebar-info h2 {
  font-size: 1.5rem;
  color: #3d3d3d;
  font-weight: 700;
}

.sidebar-info h3 {
  font-size: 1rem;
  color: #3d3d3d;
  font-weight: 300;
}

.sidebar-info h4 {
  font-size: 0.75rem;
  color: #2b93d8;
  font-weight: 300;
}

#mobile-last-sidebar {
  margin-bottom: 3rem;
}

/* CAMPUS MOBILE */

@media only screen and (min-width: 480px) {

  .mobile-sidebar {
    display: none;
  }

}

@media only screen and (max-width: 480px) {

  .campus-main {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .mobile-sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    margin-top: 16px;
    border-bottom: 1px solid #d8d8d8;
  }

  .mobile-sidebar-content {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
  }

  .mobile-sidebar-content img {
    width: 100%;
    height: auto;
  }

  .mobile-sidebar-info {
    margin: 16px 0 16px 16px;
  }

  .mobile-sidebar-info h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #3d3d3d;
    margin-bottom: 16px;
  }

  .mobile-sidebar-info h3 {
    font-size: 1rem;
    font-weight: 400;
    color: #3d3d3d;
    margin-bottom: 16px;
  }

  .mobile-sidebar-info h4 {
    font-size: 1rem;
    font-weight: 400;
    color: #2b93d8;
  }

}

/* Start Learning */

.start-learning {
  background-color: #d8d8d8;
  padding-bottom: 32px;
}

.start-learning h1 {
  text-align: center;
  color: #3d3d3d;
  font-size: 2rem;
  font-weight: 700;
  padding: 1.75rem;
}

.course {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.courses-container {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: auto;
  margin: 0.5rem 32px;
}

.courses-container img {
  width: 100%;
  height: auto;
}

.courses-info {
  background-color: #FFF;
}

.courses-info h2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 16px 0 8px 0;
}

.courses-info h3 {
  font-size: 0.9rem;
  font-weight: 300;
  margin-bottom: 8px;
}

.courses-info h2, .courses-info h3, .courses-info p {
  margin-left: 16px;
  margin-right: 16px;
}

.courses-info p {
  font-size: 0.9rem;
  font-weight: 300;
  margin-bottom: 24px;
}


/* START LEARNING MOBILE */

@media only screen and (max-width: 480px) {

  .start-learning {
    background-color: #FFF;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #d8d8d8;
  }

  .start-learning h1 {
    color: #3d3d3d;
  }

  .course {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    text-align: center;
  }

  .courses-container {
    width: 90%;
    height: auto;
    margin-left: 0;
  }

  .courses-container img {
    display: none;
  }

  .courses-info {
    width: 100%;
  }

  .courses-info h2 {
    width: 100%;
    font-weight: 700;
    background-color: #d8d8d8;
    padding: 1.5rem 0;
    color: #3d3d3d;
  }

  .courses-info h3, .courses-info p {
    display: none;
  }


}



/* Thesis */

.thesis {
  width: 100%;
  height: auto;
  padding-bottom: 32px;
  border-bottom: 1px solid #d8d8d8;
}

.thesis h1 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin: 32px 0;
  color: #3d3d3d;
}

.thesis-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.video-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;
  margin-left: 24px;
}

.video video {
  width: 100%;
  height: auto;
}

.video-container h2 {
  color: #3d3d3d;
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 24px;
}
.video-container p {
  color: #3d3d3d;
  font-size: 1rem;
  font-weight: 300;
  margin-top: 24px;
}

.thesis-sidebar {
  display: flex;
  flex-direction: column;
  width: 423px;
  height: auto;
  margin-left: 16px;
}

.thesis-sidebar-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  padding: 16px;
}

.thesis-sidebar-text {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  color: #3d3d3d;
}

.thesis-sidebar-text h2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.thesis-sidebar-text p {
  font-weight: 300;
  font-size: 1rem;
}

.thesis-sidebar-items img {
  width: 35%;
  height: auto;
  object-fit: contain;

}

#thesis-sidebar-1 {
  background-color: #d8d8d8;
}


/* THESIS MOBILE */

@media only screen and (max-width: 480px) {

  .thesis-container {
    width: 100%;
    height: auto;
  }

  .video-container {
    width: 100%;
    height: auto;
    margin-left: 0;
  }

  .video {
    width: 100%;
    height: auto;
  }

  .video-container h2, .video-container p {
    display: none;
  }

  .thesis-sidebar {
    display: none;
  }

}


/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  margin-top: 1rem;
  padding: 0 24px;
}

footer h4, footer span {
  color: #d8d8d8;
  font-size: 0.75rem;
  font-weight: 300;
}

footer span {
  padding: 0 8px;
}


/* FOOTER MOBILE */

@media only screen and (max-width: 480px) {

  footer div {
    display: none;
  }

}
